<?xml version="1.0" encoding="utf-8" ?>
<data>
	<menu name="1">
		<menu name="1_1" videoUrl="assets/videos/test.flv"></menu>
		<menu name="1_2" videoUrl="assets/videos/test.flv"></menu>
		<menu name="1_3" videoUrl="assets/videos/test.flv"></menu>
	</menu>
	<menu name="2">
		<menu name="2_1" videoUrl="assets/videos/test.flv"></menu>
		<menu name="2_2" videoUrl="assets/videos/test.flv"></menu>
		<menu name="2_3" videoUrl="assets/videos/test.flv"></menu>
	</menu>
	<menu name="3">
		<menu name="3_1" videoUrl="assets/videos/test.flv"></menu>
		<menu name="3_2" videoUrl="assets/videos/test.flv"></menu>
		<menu name="3_3" videoUrl="assets/videos/test.flv"></menu>
	</menu>
</data>